/* @media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}  */

@media screen and (max-width: 1200px) {
  #portfolio-header {
    display: none;
  }
  #hamburger-header  {
    display: flex;
  }
  /* #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  } */
}

@media screen and (max-width: 600px) {
  header {
    justify-content: left;
  }
  .hamburger-logo {
    color: black;
    font-size: 14px;
    margin-left: -2rem;
  }
  .hamburger-menu {
    margin-left: 7.2rem;
  }
  body {
    overflow-x: hidden;
  }
  section {
    height: 100%;
    margin: 0 1.4rem;
  }
  #home {
    height: 100%;
    margin-bottom: 5rem;
  }
  .home-section {
    display: block;
  }
  .home-p1 {
    width: 24.4rem;
    text-decoration: underline;
    margin-bottom: 1rem;
  }
  .home-animated {
    display: block;
  }
  .home-title {
    font-size: 2.32rem;
  }
  .home-animated-info {
    margin-left: 12px;
    margin-top: -0.1rem;
    margin-bottom: 4.6rem;
  }
  .home-animated-item {
    font-size: 2.8rem;
  }
  .home-p2 {
    width: 24.4rem;
    text-align: justify;
  }
  .home-btn-container {
    width: 25.4rem;
  }
  .home-social-container {
    margin-left: 2.2rem;
    transform: scale(1.1);
  }
  .home-icon {
    height: 1.25rem;
    margin-left: -0.28rem;
  }
  .home-profile-pic {
    margin-left: 1.4rem;
  }
  .about-title {
    width: 24.4rem;
  }
  .about-p1 {
    width: 24.4rem;
    text-decoration: underline;
  }
  .about-section {
    margin-top: 7rem;
    display: block;
  }
  .about-profile-pic {
    margin-left: 7.5rem;
  }
  .about-text {
    width: 24.4rem;
  }
  .about-details {
    width: 25.4rem;
    display: block;
  }
  .about-details-container {
    margin-bottom: 2rem;
  }
  .arrow-icon {
    display: none;
  }
  .skill-title {
    width: 24.4rem;
  }
  .skill-p1 {
    width: 24.4rem;
    text-decoration: underline;
  }
  .skill-section {
    display: block;
  }
  .skill-text {
    width: 24.4rem;
  }
  .skill-details-container {
    width: 25.8rem;
    display: block;
  }
  .skill-category {
    margin-bottom: 2rem;
  }
  .skill-profile-pic {
    margin-top: 6rem;
    margin-left: 3rem;
  }
  #experience {
    margin-bottom: 2rem;
  }
  .experience-title {
    width: 24.4rem;
  }
  .experience-p1 {
    width: 24.4rem;
    text-decoration: underline;
  }
  .experience-section { 
    margin-top: 7rem;
    display: block;
  }
  .experience-section-container {
    display: block;
  }
  .experience-text {
    width: 24.4rem;
  }
  .experience-profile-pic {
    margin-left: 7.5rem;
  }
  .experience-details {
    display: block;
    width: 25.4rem;
  }
  .experience-details-container {
    margin-bottom: 2rem;
  }
  .project-title {
    width: 24.4rem;
  }
  .project-p1 {
    width: 24.4rem;
    text-decoration: underline;
  }
  .project-section {
    margin-top: 5rem;
    margin-left: -1rem;
    display: block;
  }
  .project-section-container {
    display: block;
  }
  .project-details-container {
    margin-bottom: 2rem;
    width: 23.5rem;
  }
  #contact {
    margin-bottom: 5rem;
  }
  .contact-title {
    width: 24.4rem;
  }
  .contact-p1 {
    width: 24.4rem;
    text-decoration: underline;
  }
  .contact-section {
    margin-top: 7rem;
    display: block;
  }
  .contact-profile-pic {
    margin-left: 2.8rem;
  }
  .contact-section-container {
    margin-top: 5rem;
    margin-left: -0.5rem;
  }
  .form-control:not(textarea) {
    height: 48px;
    width: 382px;
  }
  .form-control:not(input) {
    height: 150px;
    width: 382px;
  }
  .contact-btn-container {
    margin-left: 12.2rem;
  }
  footer {
    width: 24.4rem;
    margin-left: 1rem;
  }
}

/* @media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
} */