@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-color: white;
    --secondry-color: black;
    --third-color: #5b5b5b;

    --header-color: white;
    --btn-color: white;
}

body {
    transition: 0.3s;
    background: url('../assets/background-2.png');
}
/* header section */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--header-color);
    padding: 5px 5%;
    transition: 0.3s;
    box-shadow: -3px -3px 7px var(--third-color),
                  2px 2px 5px rgba(94, 104, 121, 0.288);
}
header.shadow {
    background: linear-gradient(145deg, #ffffff, #e6e8ec);
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff;
}
.portfolio-logo {
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondry-color);
}
.portfolio-logo:hover {
    cursor: pointer;
}
.portfolio-menu {
    display: flex;
}
.portfolio-menu a {
    font-size: 1.2rem;
    padding: 10px 15px;
    list-style: none;
    color: var(--secondry-color);
    font-weight: 350;
}
.portfolio-menu a:hover {
    color: #e8bf09;
}
.toggle-switch {
  margin: 2px 14px;
  position: relative;
  width: 56px;
  height: 25px;
  background-color: #4b5563;
  border-radius: 10rem;
}
.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.toggle-dot {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 20px;
  height: 16px;
  background-color: white;
  border-radius: 10rem;
  transition: transform 300ms ease;
}
.toggle-input:checked + .toggle-label .toggle-dot {
  transform: translateX(24px);
}
body.dark-mode {
  --primary-color : black;
  --secondry-color: #e6e7f6;
  --third-color: #e6e7f6;

  --header-color: #222831;
  --btn-color: NA;
  background: #28282a;
}

/* hamburger-header section */
#hamburger-header {
    display: none;
}
.hamburger-menu {
    position: relative;
    display: inline-block;
}
.hamburger-icons-moon {
    display: flex;
}
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 22px;
    width: 30px;
    margin-top: 8px;
    cursor: pointer;
}
.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: var(--secondry-color);
    transition: all 300ms ease-in-out;
}
.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(8px, 2px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(8px, -2px);
}
.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-menu-links {
  position: absolute;
  top: 100%;
  right: 1rem;
  background-color: var(--header-color);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.hamburger-menu-links a {
  display: block;
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--secondry-color);
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
.hamburger-menu-links li {
  list-style: none;
}
.hamburger-menu-links.open {
  margin-top: 0.7rem;
  max-height: 300px;
  width: 140px;
  border-radius: 0.5rem;
  box-shadow: -3px -3px 10px #ffffff73,
                2px 2px 10px rgba(94, 104, 121, 0.288);
}
.toggle-switch-phone {
  margin: 9px 16px;
  position: relative;
  width: 45px;
  height: 20px;
  background-color: #4b5563;
  border-radius: 10rem;
}
.toggle-input-phone {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-label-phone {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.toggle-dot-phone {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 16px;
  height: 12px;
  background-color: white;
  border-radius: 10rem;
  transition: transform 300ms ease;
}
.toggle-input-phone:checked + .toggle-dot-phone {
  transform: translateX(18px);
}
body.dark-mode-phone {
  --primary-color : black;
  --secondry-color: #e6e7f6;
  --third-color: #e6e7f6;

  --header-color: #222831;
  --btn-color: NA;
  background: #28282a;
}

/* section */
section {
    padding-top: 8vh;
    height: 96vh;
    margin: 0 5rem;
    margin-right: 8rem;
    box-sizing: border-box;
    min-height: fit-content;

}

/* home section */
#home {
    margin-bottom: 2rem;
    height: 90vh;
    position: relative;
}
.home-section {
    margin-top: 5rem;
    display: flex;
    gap: 4rem;
    height: 80%;
}
.home-profile-pic-phone {
    display: none;
    -webkit-filter: drop-shadow(2px 1px 2px white);
}
.home-section-container {
    display: flex;
    width: 1200px;
    margin: auto 0;
}
.home-details-container {
    align-self: center;
    text-align: left;
}
.home-details-container p {
    color: var(--third-color);
    font-weight: 600;
}
.home-p1 {
    margin-left: 0.2rem;
    font-size: 1.2rem;
}
.home-title {
    font-size: 3rem;
    text-align: left;
    color: var(--secondry-color);
}
.home-animated {
    display: flex;
}
.home-animated-info {
    vertical-align: top;
    margin-left: 1rem;
    min-width: 400px;
    position: relative;
}  
.home-animated-item {
    color: #eac100;
    font-size: 3rem;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}
.home-animated-item:nth-child(2n+2) {
    animation-delay: 2s;
}
.home-animated-item:nth-child(3n+3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 0;
      transform: translateY(5px);
    }
    10% {
      opacity: 1;
      transform: translateY(0px);
    }
    25% {
      opacity: 1;
      transform: translateY(0px);
    }
    30% {
      opacity: 0;
      transform: translateY(5px);
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

.home-p2 {
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
}
.home-btn-container {
    display: flex;
    width: 34rem;
}
.fa {
    margin: auto 0.4rem;
}
.home-btn {
    font-weight: 600;
    font-size: 0.9rem;  
    padding: 16px;
    margin-right: 20px;
    border-radius: 15px;
    background: linear-gradient(145deg, #ffffff, #e6e8ec);
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px var(--btn-color);
    flex: 1 1 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--third-color);
    -webkit-filter: drop-shadow(2px 1px 4px white);
}
.home-btn:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 20px 20px 30px #babecc, -4px -4px 30px var(--btn-color);
}
.home-social-container {
    justify-content: center;
    margin-left: 0.6em;
    margin-top: 2.2rem;
    gap: 1rem;
}
.home-icon {
    margin-right: 0.6rem;
    cursor: pointer;
    height: 2rem;
    background: white;
}
.home-social-container .home-icon:hover {
    transform: scale(1.3);
}
.home-profile-pic {
    display: flex;
    height: 400px;
    width: 400px;
    -webkit-filter: drop-shadow(2px 1px 2px white);
}
.home-profile {
    margin-top: 8rem;
    margin-left: 2rem;
    transform: scale(1.35);
    transition: all 300ms ease;
}
.home-profile:hover {
    cursor: pointer;
    transform: scale(1.39);
}

/* about section */
#about {
    position: relative;
}
.about-title {
    font-size: 3rem;
    text-align: center;
    color: var(--secondry-color);
}
.about-p1 {
    color: var(--third-color);
    text-align: center;
    font-weight: 600;
}
.about-section {
    display: flex;
    gap: 4rem;
    height: 80%;
}
.about-profile-pic {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    margin-left: 2rem;
    margin-bottom: 5rem;
}
.about-profile {
    border-radius: 2rem;
    transform: scale(1.2);
    transition: all 300ms ease;
    -webkit-filter: drop-shadow(2px 1px 2px white);
}
.about-profile:hover {
    cursor: pointer;
    transform: scale(1.24);
}
.about-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about-text {
    color: var(--secondry-color);
    text-align: justify;
}
.about-details {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 62rem;
}
.about-details-container {
    text-align: center;
    background: linear-gradient(145deg, #ffffff, #e6e8ec);
    padding: 30px;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px var(--btn-color);
    flex: 1 1 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--third-color);
    -webkit-filter: drop-shadow(2px 1px 4px white);
}
.about-details-container:hover {
    transform: translateY(-10px);
    box-shadow: 20px 20px 30px #babecc, -20px -20px 30px var(--btn-color);
}
.about-icon {
    cursor: pointer;
    height: 2rem;
}
.arrow-icon {
    position: absolute;
    right: -5rem;
    bottom: 3rem;
    cursor: pointer;
    height: 2rem;
    transition: all 300ms ease;
}
.arrow-icon:hover {
    transform: scale(1.1);
}

/* skill section */
#skill {
    position: relative;
}
.skill-title {
    font-size: 3rem;
    text-align: center;
    color: var(--secondry-color);
}
.skill-p1 {
    color: var(--third-color);
    text-align: center;
    font-weight: 600;
}
.skill-section {
    display: flex;
    gap: 4rem;
    height: 80%;
}
.skill-profile-pic-phone {
    display: none;
    -webkit-filter: drop-shadow(2px 1px 2px white);
}
.skills-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.skill-text {
    color: var(--secondry-color);
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    width: 58rem;
    text-align: justify;
}
.skill-details-container {
    display: flex;
    margin-top: 1rem;
}
.skill-category {
    text-align: center;
    background: linear-gradient(145deg, #ffffff, #e6e8ec);
    padding: 30px;
    margin-right: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px var(--btn-color);
    flex: 1 1 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--third-color);
    -webkit-filter: drop-shadow(2px 1px 4px white);
}
.skill-category:hover {
    transform: translateY(-10px);
    box-shadow: 20px 20px 30px #babecc, -20px -20px 30px var(--btn-color);
}
.skill-category ul {
    list-style-type: none;
    padding: 0;
}
.skill-profile-pic {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    margin-bottom: 10rem;
    -webkit-filter: drop-shadow(2px 1px 2px white);
}
.skill-profile {
    border-radius: 2rem;
    transform: scale(1.2);
    transition: all 300ms ease;
}
.skill-profile:hover {
    cursor: pointer;
    transform: scale(1.24);
}

/* experience section */
#experience {
    position: relative;
}
.experience-title {
    font-size: 3rem;
    text-align: center;
    color: var(--secondry-color);
}
.experience-p1 {
    color: var(--third-color);
    text-align: center;
    font-weight: 600;
}
.experience-section {
    display: flex;
    gap: 4rem;
    height: 80%;
}
.experience-profile-pic {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    margin-left: 2rem;
    margin-bottom: 5rem;
}
.experience-profile {
    border-radius: 2rem;
    transform: scale(1.2);
    transition: all 300ms ease;
    -webkit-filter: drop-shadow(2px 1px 2px white);
}
.experience-profile:hover {
    cursor: pointer;
    transform: scale(1.24);
}
.experience-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.experience-text {
    color: var(--secondry-color);
    text-align: justify;
}
.experience-details {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 62rem;
}
.experience-details-container {
    text-align: center;
    background: linear-gradient(145deg, #ffffff, #e6e8ec);
    padding: 30px;
    margin-right: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px var(--btn-color);
    flex: 1 1 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--third-color);
    -webkit-filter: drop-shadow(2px 1px 4px white);
}
.experience-details-container:hover {
    transform: translateY(-10px);
    box-shadow: 20px 20px 30px #babecc, -20px -20px 30px var(--btn-color);
}
.experience-icon {
    cursor: pointer;
    height: 2rem;
}

/* project section */
#project {
    position: relative;
    height: 85%;
}
.project-title {
    font-size: 3rem;
    text-align: center;
    color: var(--secondry-color);
}
.project-p1 {
    color: var(--third-color);
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
}
.project-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.project-profile-pic-phone {
    display: none;
    -webkit-filter: drop-shadow(2px 1px 2px white);
}
.project-section-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 1.2rem;
    -webkit-filter: drop-shadow(2px 1px 4px white);
}
.project-details-container {
    text-align: center;
    font-weight: 600;
    font-size: 0.9rem;  
    padding: 16px;
    margin-right: 20px;
    border-radius: 15px;
    background: linear-gradient(145deg, #ffffff, #e6e8ec);
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px var(--btn-color);
    flex: 1 1 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--third-color);
}
.project-profile-pic {
    display: flex;
    height: 200px;
    width: 50px;
    margin: auto 0;
}
.project-profile{
    border-radius: 2rem;
    padding-left: 4.2rem;
    margin-top: 1.4rem;
    transform: scale(1.35);
    transition: all 300ms ease;
}
.project-profile:hover {
    cursor: pointer;
    transform: scale(1.39);
}
.project-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.project-btn-container {
    display: flex;
    justify-content: center;
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
}
.project-btn-container .btn {
    font-weight: 600;
    font-size: 0.9rem;  
    padding: 16px;
    margin-right: 20px;
    border-radius: 15px;
    background: linear-gradient(145deg, #ffffff, #e6e8ec);
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff;
    flex: 1 1 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--third-color);
}
.project-btn-container .btn:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 20px 20px 30px #babecc, -4px -4px 30px #ffffff;
}

/* conatact section */
#contact {
    margin-top: 4rem;
    position: relative;
}
.contact-title {
    font-size: 3rem;
    text-align: center;
    color: var(--secondry-color);
}
.contact-p1 {
    color: var(--third-color);
    text-align: center;
    font-weight: 600;
}
.contact-section {
    display: flex;
    gap: 4rem;
    height: 80%;
}
.contact-profile-pic {
    display: flex;
    height: 400px;
    width: 500px;
    margin: auto 0;
    margin-left: 6rem;
}
.contact-profile {
    border-radius: 2rem;
    transform: scale(1.2);
    transition: all 300ms ease;
    -webkit-filter: drop-shadow(2px 1px 2px white);
}
.contact-profile:hover {
    cursor: pointer;
    transform: scale(1.24);
}
.contact-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-control {
    background: transparent;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    font-weight: bold;
    margin: 16px 8px;
}
.form-control:not(textarea) {
    height: 48px;
    width: 300px;
}
.form-control:not(input) {
    height: 150px;
    width: 620px;
}
.form-control:focus, .form-control:active {
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, 0.8);
}
.contact-btn-container {
    justify-content: center;
    margin-top: 0.6rem;
    margin-left: 27.3rem;
}
.contact-btn {
    font-weight: 600;
    font-size: 1rem;  
    padding: 16px;
    width: 12rem;
    border-radius: 15px;
    background: linear-gradient(145deg, #ffffff, #e6e8ec);
    box-shadow: 10px 10px 20px #babecc, -10px -10px 20px var(--btn-color);
    flex: 1 1 30%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--third-color);
    -webkit-filter: drop-shadow(2px 1px 4px white);
}
.contact-btn:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 20px 20px 30px #babecc, -4px -4px 30px var(--btn-color);
}   

/* footer section */
footer {
    margin-bottom: 1rem;
}
footer p {
    text-align: center;
    color: var(--secondry-color);
}

/* media-queries */
/* @media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}  */

/* @media screen and (max-width: 1200px) {
    #portfolio-header {
      display: none;
    }
    #hamburger-header  {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  } */
  
  @media screen and (max-width: 500px) {
    #portfolio-header {
        display: none;
    }
    header {
      justify-content: left;
    }
    #hamburger-header  {
        display: flex;
    }
    .hamburger-logo {
      color: var(--secondry-color);
      font-size: 14px;
      margin-left: -3rem;
    }
    .hamburger-logo:hover {
      cursor: pointer;
    }
    .hamburger-menu {
      margin-left: 7rem;
    }
    body {
      overflow-x: hidden;
    }
    section {
      height: 100%;
      margin: 0 1.4rem;
    }
    #home {
      height: 100%;
      margin-bottom: 4rem;
    }
    .home-section {
      display: block;
    }
    .home-profile-pic-phone {
      display: flex;
      margin-top: -4.5rem;
      margin-left: 0.8rem;
    }
    .home-profile-phone {
      transform: scale(1);
      transition: all 300ms ease;
    }
    .home-profile-phone:hover {
      cursor: pointer;
      transform: scale(1.04);
    }
    .home-p1 {
      width: 24.4rem;
      text-decoration: underline;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
    .home-animated {
      display: block;
    }
    .home-title {
      font-size: 2.32rem;
    }
    .home-animated-info {
      margin-left: 12px;
      margin-top: -0.1rem;
      margin-bottom: 4.6rem;
    }
    .home-animated-item {
      font-size: 2.8rem;
    }
    .home-p2 {
      width: 24.4rem;
      text-align: justify;
    }
    .home-btn-container {
      width: 25.4rem;
    }
    .home-social-container {
      margin-left: 2.2rem;
      transform: scale(1.1);
    }
    .home-icon {
      height: 1.25rem;
      margin-left: -0.28rem;
    }
    .home-profile-pic {
      display: none;
    }
    #about {
      padding-top: 7.5vh;
    }
    .about-title {
      margin-top: -5rem;
      width: 24.4rem;
    }
    .about-p1 {
      width: 24.4rem;
      text-decoration: underline;
    }
    .about-section {
      margin-top: 5rem;
      display: block;
    }
    .about-profile-pic {
      margin-left: 7.5rem;
    }
    .about-text {
      margin-top: -1rem;
      width: 24.4rem;
    }
    .about-details {
      width: 25.4rem;
      display: block;
    }
    .about-details-container {
      margin-bottom: 2rem;
    }
    .arrow-icon {
      display: none;
    }
    #skill {
      padding-top: 5vh;
    }
    .skill-title {
      margin-top: -4rem;
      width: 24.4rem;
    }
    .skill-p1 {
      width: 24.4rem;
      text-decoration: underline;
    }
    .skill-section {
      display: block;
    }
    .skill-profile-pic-phone {
      display: flex;
      margin-top: 4.5rem;
      margin-left: 3rem;
    }
    .skill-profile-phone {
      border-radius: 2rem;
      transform: scale(1.2);
      transition: all 300ms ease;
    }
    .skill-profile-phone:hover {
      cursor: pointer;
      transform: scale(1.24);
    }
    .skill-text {
      margin-top: 2rem;
      width: 24.4rem;
    }
    .skill-details-container {
      width: 25.8rem;
      display: block;
    }
    .skill-category {
      margin-bottom: 2rem;
    }
    .skill-profile-pic {
      display: none;
    }
    #experience {
      padding-top: 0vh;
    }
    .experience-title {
      margin-top: 2.5rem;
      width: 24.4rem;
    }
    .experience-p1 {
      width: 24.4rem;
      text-decoration: underline;
    }
    .experience-section { 
      margin-top: 7rem;
      display: block;
    }
    .experience-section-container {
      display: block;
    }
    .experience-text {
      margin-top: -1.5rem;
      width: 24.4rem;
    }
    .experience-profile-pic {
      margin-top: -2.6rem;
      margin-left: 7.5rem;
    }
    .experience-details {
      display: block;
      width: 25.4rem;
    }
    .experience-details-container {
      margin-bottom: 2rem;
    }
    #project {
      padding-top: 0vh;
    }
    .project-title {
      margin-top: 2rem;
      width: 24.4rem;
    }
    .project-p1 {
      width: 24.4rem;
      text-decoration: underline;
    }
    .project-section {
      margin-top: 5rem;
      margin-left: -1rem;
      display: block;
    }
    .project-profile-pic-phone {
      display: flex;
      margin-top: -1.2rem;
      margin-left: 4.6rem;
      margin-bottom: 4.5rem;
    }
    .project-profile-phone {
      border-radius: 2rem;
      transform: scale(1.2);
      transition: all 300ms ease;
    }
    .project-profile-phone:hover {
      cursor: pointer;
      transform: scale(1.24);
    }
    .project-section-container {
      display: block;
    }
    .project-details-container {
      margin-top: 2rem;
      width: 23.5rem;
    }
    #contact {
      padding-top: 5.2vh;
      margin-bottom: 5rem;
    }
    .contact-title {
      margin-top: -4rem;
      width: 24.4rem;
    }
    .contact-p1 {
      width: 24.4rem;
      text-decoration: underline;
    }
    .contact-section {
      margin-top: 4.6rem;
      display: block;
    }
    .contact-profile-pic {
      margin-left: 2.8rem;
    }
    .contact-section-container {
      margin-top: 2.8rem;
      margin-left: -0.5rem;
    }
    .form-control:not(textarea) {
      height: 48px;
      width: 382px;
    }
    .form-control:not(input) {
      height: 150px;
      width: 382px;
    }
    .contact-btn-container {
      margin-left: 12.2rem;
    }
    footer {
      width: 24.4rem;
      margin-left: 1rem;
    }
  }
  
  /* @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  } */